<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <% result.forEach(element=>{%>
    <h1>TYPE: <%=element.type%></h1>
    <p>TEXT: <%=element.text%></p>
    <br>
    <form action="/facts" method="POST">
    <input type="hidden" name="type" value=" <%=element.type%>">
    <input type="hidden" name="text" value=" <%=element.text%>">
    <button type="submit">add to fav</button>
    
    </form>

    <%})%>
    
</body>
</html>